@import "../../styles/vars";

.header {
  height: $headerHeight;
  background: #ededed;
  padding-inline: 15px;
}

.userimg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown {
  background: #ededed;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(#000, 0.2);

  [role="menuitem"] {
    padding: 0.75rem 1rem;
    min-width: 150px;
    outline: none;
    font-size: 14px;

    &[data-highlighted],
    &:hover {
      background: #cecece;
      cursor: pointer;
    }
  }
}

.nav_icons {
  display: flex;
  list-style-type: none;

  li {
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
  }
}
